/* default values set as CSS global variables */
:root {
  --cyan: rgb(102, 226, 220);
  --orange: rgb(250, 116, 83);
  --orange-lite: rgb(255, 185, 100);
  --off-white: rgb(252, 250, 249);
  --black: rgb(25, 24, 38);
  --font-family: "IBM Plex Sans";
  --round-corners: 0.75rem;

}

/* Typography: local variables */
p {
  --main-font-size: 1.25rem;
  --line-height: 2.13rem;
}

/* Typography */
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}
h2 {
  font-size: 2rem;;
  line-height: 2.5rem;
  margin: 3rem 0 0.75rem;
}
footer {
  font-size: 1rem;
  line-height: 1.63rem;
}
button {
  font-size: 1.13rem;
  display: block;
  border: none;
  padding: 1.25rem 0;
  border-radius: var(--round-corners);
}
.btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btns img{
  margin-right: 0.5rem;
}
#btn-1{
  background-color: var(--black);
  color: var(--off-white);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
#btn-2{
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
}
#section1 {
  font-size: 1rem;
  line-height: 1.63rem;
}
#section1 > p {
  margin-bottom: 0;
}
#section2{
  padding-top: 7.38rem;
}
#phone{
  max-width: 13.06rem;
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translate(-50%);
}
#card-1{
    position: relative;
    top: 3rem;
}
#card-1 > div{
  background-color: var(--black);
  border-radius: var(--round-corners);
}
#card-1 > div > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 17.5rem;
}
#card-2 {
  color: var(--off-white);
  font-size: 1.13rem;
  line-height: 1.75rem;
  display: inline-block;
  padding: 0 2.25rem 3rem;
  background-color: var(--orange);
  border-radius: var(--round-corners);
  position: relative;
}
#card-2 p{
  margin-bottom: 2.25rem ;
}
#price {
  margin-bottom: 2rem;
}
#price p {
  font-size: var(--main-font-size);
  letter-spacing: -0.01rem;
  display: inline;
}
#price span {
  font-size: 4.03rem;
  line-height: 3.25rem;
}
.bold {
  font-weight: 700;
}

/* Page structure */
body {
  font-family: var(--font-family);
  margin: 2.499rem 0 5rem;
  display: inline-block; 
}
header {
  margin-bottom: 4.001rem;
}
footer{
  margin-top: 4.001rem;
}
.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

/* svg */
#logo{
    max-width: 9.13rem;
}

/* for small device (tablet etc) */
@media screen and (min-width: 30rem) and (max-width: 63.9rem) {
  #section1{
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
  h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.05rem;
  }
}

/* for laptop like etc */
@media screen and (min-width: 64rem) {
  p {
    font-size: var(--main-font-size);
    line-height: var(--line-height);
  }
  h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.06rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}