@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    align-items: center;
    justify-content: center;
}

@mixin typography ($size, $weight, $color ){
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

