body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #d5e1ef;
  font-family: "Outfit";
}
img {
  max-width: 320px;
  border-radius: 10px;
}
p {
  font-size: 15px;
}
.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px;
  max-width: 320px;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
