body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.heading {
  text-align: center;
}
