body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5e1ef;
}
img {
  border-radius: 10px;
}
.container {
  background-color: hsl(0, 0%, 100%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.heading {
  text-align: center;
}
