@use "../abstracts" as *;

button{
    max-width: 17.44rem;
    height: 3.13rem;
    background-color: $bright-blue;
    border-radius: $component-radius;
    border-style: none;
    padding: 0.94rem 4.06rem;
    margin: 1.5rem 0;
    box-shadow: 0 1.25rem 1.25rem $bright-blue-link;
}

button:hover{
    background-color: $bright-blue-hover;
    cursor: pointer;
}