@use "../abstracts" as *;

button{
    background-color: $bright-blue;
    border-radius: $component-radius;
    border-style: none;
    padding: 0.94rem 4.06rem;
    margin: 1.5rem 0;
    box-shadow: 0 1.25rem 1.25rem $bright-blue-link;
}

button:hover{
    background-color: $bright-blue-hover;
    cursor: pointer;
}

@media screen and (min-width: $break1) {
    button{
        padding: 0.94rem 6.38rem;
    }
}