@use "../abstracts";

button{
    max-width: 17.44rem;
    height: 3.13rem;
    background-color: abstracts.$bright-blue;
    border-radius: abstracts.$component-radius;
    border-style: none;
    padding: 0.94rem 4.06rem;
}