@use "../abstracts" as *;

.section2-item{
    display: flex;
    @include flex-center;
    background-color: $pale-blue-lite;
    border-radius: $component-radius;
    padding: 1rem;

    div{
        margin-left: 1.25rem;
        margin-right: 3.13rem;
    }
}