body {
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  margin: auto;
  max-width: 20.44rem;
  max-height: 33.94rem;
}
main {
  background-color: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 0.94rem;
  margin: auto;
}

/* image */
img {
  max-width: 100%;
  border-radius: 0.5rem;
}
img.portrait {
  max-width: 2.06rem;
}

h1 {
  font-size: 1.38rem;
  color: hsl(0, 0%, 100%);
}
p,
footer,
.ethereum,
.days-left,
.author {
  color: hsl(215, 51%, 70%);
  font-size: 0.94rem;
}

p {
  font-size: 1.13rem;
}

.name {
  color: hsl(0, 0%, 100%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
