/* base structure */
body {
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  background-color: hsl(217, 54%, 11%);
  margin: auto;
  min-height: 100vh;
  max-width: 20.44rem;
  max-height: 33.94rem;
}
main {
  background-color: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
hr {
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  border: none;
  margin: 1rem 0;
}
.wrapper {
  margin: auto;
}

/* base font style */
p,
footer {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
footer,
.card-info,
.author {
  font-size: 0.94rem;
}

/* card heading */
#title {
  display: block;
  font-size: 1.38rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin: 1.5rem 0 0;
  text-decoration: none;
}
#title:hover {
  color: hsl(178, 100%, 50%);
}
.heading p {
  font-size: 1.13rem;
  margin: 0.75rem 0 1rem;
}

/* card heading: image */
.container {
  position: relative;
}
/* overlay effect */
.overlay {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 50.3%);
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.main-img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}
.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* create overlay effect over img */
.view-icon {
  opacity: 0;
}
.container:hover img {
  opacity: 1;
}

/* card content */
.card-info {
  display: flex;
  justify-content: space-between;
}
.ethereum p {
  color: hsl(178, 100%, 50%);
  display: inline;
}
.icon {
  vertical-align: text-top;
}
.days-left p {
  display: inline;
}

/* author's info*/
.author {
  display: flex;
  align-items: center;
}
.author img {
  max-width: auto;
  max-height: 2.06rem;
  border: 0.06rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.author p {
  margin-left: 1rem;
  display: inline;
}
#name {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
#name:hover {
  color: hsl(178, 100%, 50%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
