/* base structure */
body {
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  background-color: hsl(217, 54%, 11%);
  margin: auto;
  min-height: 100vh;
  max-width: 20.44rem;
  max-height: 33.94rem;
}
main {
  background-color: hsl(216, 50%, 16%);
  padding: 1.5rem;
  border-radius: 0.94rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
hr {
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  border: none;
  margin: 1rem 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* base font style */
p,
footer {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
footer,
.card-info,
.author {
  font-size: 0.94rem;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* card heading */
#title {
  display: block;
  font-size: 1.38rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin: 1.5rem 0 0;
  text-decoration: none;
}
#title:hover {
  color: hsl(178, 100%, 50%);
}
.heading p {
  font-size: 1.13rem;
  margin: 0.75rem 0 1rem;
  line-height: 1.63rem;
}

/* card heading: container */
.container {
  position: relative;
}
.main-img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}

/* overlay effect */
.overlay {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 50.3%);
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

/* icon position and visbility */
.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}

/* hover effects */
.container:hover .overlay,
.container:hover .view-icon {
  opacity: 1;
}
.overlay {
  transition: 0.2s ease-in-out;
}

/* card content */
.card-info {
  display: flex;
  justify-content: space-between;
}
.ethereum p {
  color: hsl(178, 100%, 50%);
  display: inline;
  font-weight: 600;
}
.icon {
  margin-right: 0.41rem;
}
.ethereum {
  align-items: center;
  display: flex;
}
.days-left {
  align-items: center;
  display: flex;
}
.days-left p {
  font-weight: 400;
}

/* author's info*/
.author {
  display: flex;
  align-items: center;
}
.author img {
  max-width: auto;
  max-height: 2.06rem;
  border: 0.06rem solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.author p {
  margin-left: 1rem;
  display: inline;
  font-weight: 400;
}
#name {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
#name:hover {
  color: hsl(178, 100%, 50%);
}

/* footer */
.attribution {
  font-size: 0.688rem;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media for min-width 768px */
@media screen and (min-width: 768px) {
  body {
    max-width: 21.88rem;
    max-height: 37.25rem;
  }
  main {
    padding-bottom: 2rem;
  }
  hr {
    margin-top: 1.5rem;
  }
  .heading p {
    margin: 1rem 0 1.5rem;
  }
  .card-info,
  .author p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .wrapper {
    padding: 0 1rem;
  }
}
@media screen and (max-height: 640px) {
  body {
    margin-top: 1rem;
  }
}
