@use "../abstracts/color";
@use "../abstracts/font";

body {
    background-color: color.$pale-blue;
    font-family: font.$main-font;
}

footer {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}


