@use "../abstracts" as *;

body{
    font-family: $main-font;
}

h1{
    @include typography(1.38rem, $bold, $dark-blue);
}

p{
    @include typography(0.94rem, $norm, $desaturated-blue);
}

button{
    @include typography(0.94rem, $bold, white);
}

.heading{
    color: $dark-blue;
    font-weight: $bold;
}

.item-link-change{
    @include typography(0.81rem, $medium, $bright-blue);
}

.item-link-cancel{
    @include typography(0.94rem, $bold, $desaturated-blue);
    text-decoration: none;
}
