@use "../abstracts";

main{
    background-color: abstracts.$pale-blue-lite;
    max-width: 20.44rem;
    border-radius: 1.25rem;
    text-align: center;

    img{
        width: 100%;
        object-fit: contain;
        border-radius: 1.25rem 1.25rem 0 0;
    }

}

.section1{
    margin: 1.88rem 2rem 0;
}

.section2{
    margin: 1.5rem 1.5rem 2rem;
}
