@use "../abstracts" as *;

main{
    background-color: white;
    max-width: 20.44rem;
    height: 35.44rem;
    border-radius: 1.25rem;
    text-align: center;
    box-shadow: 0 1.25rem 1.25rem rgb(0, 0, 0, 10%);

    img{
        width: 100%;
        object-fit: contain;
        border-radius: 1.25rem 1.25rem 0 0;
    }

}

.section1{
    margin: 1.88rem 2rem 0;

    p {
        line-height: 1.56rem;
        margin-top: 1rem;
    }
}

.section2{
    margin: 1.5rem 1.5rem 2rem;
}

/* breakpoint */
@media screen and (max-width: $break-width), (max-height: $break-height){
    main{
        margin: 2rem;
    }
}

@media screen and (min-width: $break1) {
    main{
        max-width: 28.13rem;
        height: 43.56rem;
    }

    .section1 {
        margin: 2.81rem 3rem 0;
    
        p {
            line-height: 1.63rem;
            margin-top: 1.06rem;
        }
    }
    
    .section2 {
        margin: 1.25rem 3rem 3rem;
    }

}
